
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
 codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,18,0"
 width="600"  height="400" id="fullscreen" align="middle">
<param name="allowFullScreen" value="true" />
<param name="movie" value="fullscreen.swf" />
<param name="bgcolor" value="#333333" />
<span class="FS"><embed class="vid" src="images/KGP-2.2.swf" allowFullScreen="true" bgcolor="#333333" width="800" height="450"
 name="fullscreen" align="middle" type="application/x-shockwave-flash"
 pluginspage="http://www.macromedia.com/go/getflashplayer" /></span><span class="SS"><embed class="vid" src="images/KGP-2.2.swf" allowFullScreen="true" bgcolor="#333333"
  name="fullscreen" align="left" type="application/x-shockwave-flash"
  pluginspage="http://www.macromedia.com/go/getflashplayer" /></span>
</object>
